/* ALLGEMEIN */
body {
    background-color: #fff;
    font-family: 'Arial', serif;
    margin-top: 100px;
    margin-bottom: 50px;
    overflow-y: scroll;
}
h2 {
    margin-top: 10px;
    font-size: 200%;
    font-family: 'Arial', serif;
    font-variant: small-caps;
}
a {
    color: #943e34;
}
.btn:hover{
    box-shadow: 0 3px 20px 3px #000;
    background-color:#943e34;
}

/* TITEL */
h1 {
    font-family: 'Arial';
    font-variant: small-caps;
    margin-bottom: 3%; 
    color: #000; 
}

/* ZITAT */
h3 {
    font-size:125%;
    font-family: 'Arial', serif;
    margin-left: 15%;  
    margin-right: 15%;
    margin-top: -25px;
}

h4 {
    font-size:90%;
    font-family: 'Arial', serif;
    margin-left: 40%;  
    margin-right: 40%;
    margin-top: -5px;
    font-style: italic;
}

/* HEADER */
.nav{
    position: fixed;
    text-align: left;
    padding: 0.5%;
    width: 100%;
    margin-top: -103px;
    z-index: 99;
    box-shadow: 0 4px 5px -5px #000;
    background-color: #ffffff;
}
.nav2{
    text-align: right;
    width: 100%;
    background-color: #ffffff;
}

.text{
    font-size: 150%;
    font-family: 'Arial';
    padding-right: 25px;
    padding-left: 25px;
    color:#943e34;
    vertical-align: middle; 
}
.text2{
    font-size: 150%;
    font-family: 'Arial';
    padding-right: 25px;
    padding-left: 25px;
    color:#943e34;
    vertical-align: middle; 
}
.logo{
    width: 150px;
    position: fixed;
    z-index: 100;
}
.text:hover{
    color:#000;
}

.profilicon {
    vertical-align: middle;
    pointer-events: auto;
}

/* FOOTER */
.foo{
    color: #000;
    bottom: 0px;
    position: fixed;
    text-align: center;
    padding: 0.25%;
    width: 100%;
    font-size: 100%;
    font-family: 'Arial', serif;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 4px 5px 1px #000;
}

/* HOME */
#begruessung {
    background-color: #fff;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.contenthome {
    background-color: #943e34;
    padding-top: 50px;
    padding-bottom: 100px;
}
#endehome {
    padding-top: 50px;
    padding-bottom: 50px;
}
.startbutton {
    border: 2px solid black;
    padding: 20px 50px 20px 50px;
    font-size: 150%;
    color: black;
}
.startbutton:hover {
    background-color: black;
    color: white;
}
.logoshome {
    width:200px;
    margin: 20px;
}
.welcome {
    width: 90%;
    font-size: 110%;
    font-family: 'Arial', serif;
}
.content {
    text-align: left;
    height: 450px;
    margin-top: -25px;
}
.buttonhom{
    height: 100px;
    border: 2px solid #fff;
    padding: 20px 50px 20px 50px;
    margin-top: 20px;
    font-size: 150%;
    color: #000;
    font-family: Chalkduster;
    letter-spacing: 1px;
    background-color: #fff;
    display:flex;
    flex-direction:column;
}
.buttonhom:hover{
    background-color: black;
    border: 2px solid #000;
    color: white;
}
.lets {
    margin-left: 10%;
    margin-right: 10%;
    font-size:200%;
    font-family: 'Arial', serif;
    text-align: center;
    color:#fff
}
.hometextoben {
    margin-left: 10%;
    margin-right: 10%;
    font-size:120%;
    text-align: center;
}
.hometext {
    margin-left: 10%;
    margin-right: 10%;
    font-size:120%;
    text-align: center;
    color: #fff;
}

/* TRAINING & ERFAHRUNGEN */
.auswahlbtn {
    width: 80%;
    padding-top: 1%;
    font-size: 110%;
    font-family: 'Helvetica', serif;
}
.trainingbutton {
    border: 2px solid #fff;
    padding: 20px 50px 20px 50px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 150%;
    color: #fff;
    font-family: Chalkduster;
    letter-spacing: 1px;
    background-color: #943e34;
}
.trainingbutton:hover {
    background-color: black;
    color: white;
}
#obentr {
    background-color: #fff;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    z-index: 95;
    margin-bottom: 100px;
    position: relative;
}
#contenttr {
    color: #000;
    bottom: 1%;
    position: fixed;
    width: 100%;
    height: 25%;
    z-index: 90;
    background-color: #943e34;
}
.buttontra{
    margin: 1%;
    width: 100%;
    height: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 250%;
    color: #000;
    font-family: 'Helvetica', serif; 
    text-transform: capitalize;
    font-variant: small-caps;
    background-image: url("assets/spielew.png");
    background-size: 100%;
    
}
.buttontra:hover{
    font-size: 300%;
}
.buttonerf{
    margin: 1%;
    width: 100%;
    height: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 250%;
    color: #000;
    font-family: 'Helvetica', serif; 
    text-transform: capitalize;
    font-variant: small-caps; 
    background-image: url("assets/erfahrungenw.png");
    background-size: 100%;
}
.buttonerf:hover{
    font-size: 300%;
}
.buttonmitte {
    margin-left: 50%;
}

/* INFORMATIONEN */
.infos {
    width: 80%;
    padding-top: 1%;
    text-align: left;
    font-size: 110%;
    font-family: 'Helvetica', serif;
}
.infogr {
    height: 100%;
    width: 100%;
    border: 5px solid #000;
}
.buttoninf{
    height: 50px;
    width: 300px;
    border: 2px solid #fff;
    padding-top: 6px;
    text-align: center;
    margin-top: 10px;
    font-size: 150%;
    color: #000;
    font-family: Chalkduster;
    letter-spacing: 1px;
    background-color: #fff;
}
.buttoninf:hover{
    background-color: black;
    border: 2px solid #000;
    color: white;
}
.infotext {
    margin-top: 1%;
    color: #fff;
}

/* LOGIN & REGISTRIEREN */
.logbox {
    padding-top: 100px;
    padding-bottom: 75px;
    font-family: 'Arial';
    background-color: #943e34;
    text-align: center;
}
.buttonlog{
    height: 50px;
    width: 90%;
    border: 2px solid #fff;
    color: #000;
    font-family: Chalkduster;
    letter-spacing: 1px;
    font-size: 150%;
    background-color: #fff;
    vertical-align: middle;
}
.buttonlog:hover{
    background-color: black;
    border: 2px solid #000;
    color: white;
}
.input-field label {
    color: #000;
    font-size: 110%;
}
.regbox {
    padding-top: 50px;
    padding-bottom: 75px;
    font-family: 'Arial';
    background-color: #943e34;
    text-align: center;
}
.buttonreg{
    height: 50px;
    width: 90%;
    border: 2px solid #fff;
    color: #000;
    font-family: Chalkduster;
    letter-spacing: 1px;
    font-size: 150%;
    background-color: #fff;
    vertical-align: middle;
}
.buttonreg:hover{
    background-color: black;
    border: 2px solid #000;
    color: white;
}

/* ENTSPANNUNGEN */
.minipic {
    width: 20%; 
    margin: 0.7%;
    border: 1px solid #fff; 
}
.bigpic {
    width: 80%; 
    text-align:left; 
    margin: 0.7%; 
    border: 5px solid #fff;
}
.entspbox {
    width: 100%;
    bottom: 0;
    font-size: 110%;
    font-family: 'Arial';
    background-color: #943e34;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    color: #fff;
}
.picbox {
    padding-top:2%;
}
.anweisungentsp {
    font-size: 110%;
}
.erklaerungentsp {
    text-align: left;
}

/* IMPRESSUM */
.persname {
    font-size:130%; 
    margin-bottom:-5%; 
    font-variant: small-caps;
}
.kopf {
    width:350px;
    border: 2px solid #fff;
}
.name {
    font-size: 150%;
    margin-top: -10px;
}
.teamr {
    text-align:right; 
    margin-top:1%
}
.teaml {
    text-align:left; 
    margin-top:1%
}

/* PROFIL */
.profbox {
    padding-top: 50px;
    padding-bottom: 75px;
    font-family: 'Arial';
    background-color: #943e34;
    text-align: center;
    color: #fff;
}
.profbutton{
    height: 50px;
    width: 50%;
    border: 2px solid #fff;
    color: #000;
    font-family: Chalkduster;
    letter-spacing: 1px;
    font-size: 150%;
    background-color: #fff;
    vertical-align: middle;
}
.profbutton:hover{
    background-color: black;
    border: 2px solid #000;
    color: white;
}

/* SPIELE */
.spielbox {
    width: 80%;
    height: 30%;
    padding-top: 1%;
    text-align: left;
    font-size: 110%;
    font-family: 'Helvetica', serif;
}
.spielpic {
    height: 100%;
    width: 100%;
    border: 10px solid #c3c3fa;
}
.spielenbutton{
    color: #fff;
    background-color: #943e34;
    width: 50%;
    font-family: 'Helvetica', serif; 
    text-transform: small-caps;
    background-image: linear-gradient(to top, #943e34 15%, #a35152 85%);
    box-shadow: 0 4px 5px -2px #000;
}
.spieltitel {
    text-align: left;
}
.spielerkl {
    text-align: left;
    font-size: 110%;
}

/* FORUM */
.forummsg {
    height: 500px;
    margin-bottom: 10%;
    margin-top: -30px;
}
.anzeige {
    font-family: 'Helvetica', serif; 
    text-align: left;
    margin-left: 11%;
}
.chat-window {
	flex: 1;
	display: flex;
    height: 110%;
    width: 80%;
    margin-left: 10%;
}
.messages {
    height: 75%;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(255, 251, 251);
    border-top: solid 1px black;
    box-shadow: 0 4px 4px 4px gray;
    padding: 5px;
}
.message {
    border: 1px solid rgb(151, 151, 151);
    background-color: #d1fff3;
    margin-bottom: 1%;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    
}
.msgusername {
    text-align: left;
    font-size: 150%;
    font-family: 'Helvetica', serif;
    margin-bottom: -25px;
}
.msgdate {
    margin-left: 20px;
    text-align: right;
    font-size: 90%;
    font-family: 'Helvetica', serif;
    margin-bottom: -15px;
}
.message-text {
    flex: 1;
    text-align: left;
    font-family: 'Helvetica', serif;
    word-wrap: break-word;
}
.msginput-container {
    padding: 5px;
}
.msginput {
    background-color: #f1f1f1;
    height: 200px;
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
}
.sendbutton {
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    color: #fff;
    background-color: #943e34;
    font-family: 'Helvetica', serif; 
    font-size: 130%;
    cursor: pointer;
    padding: 15px;
    word-wrap: break-word;
}
.sendbutton:hover {
    box-shadow: 0 0 15px 0 #000;
    background-color:#943e34;
}




/* SCHIEBEPUZZLE */
.game {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: -100px;
}
.grid {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
    border: 5px solid #943e34;
}

.grid button {
    background-color: #dfdfdf;
    height: 120px;
    width: 120px;
    color: #000;
    font-size: 50px;
    font-weight: bold;
    border: 3px solid #943e34;
    outline: none;
    cursor: pointer;
}
span {
    flex: 1;
    text-align: left;
    font-size: 25px;
    color: #000;
    font-weight: bold;
    margin: auto 0;
}
.button1{
    display:inline-block;
    height: 100px;
    width: 200px;
    margin:1px;
    text-decoration:none;
    font-family:Helvetica;
    font-size:40px;
    border-radius:13px;
    background-color:#A394D3;
    color:black;
    font-weight:bold;
    padding:18px 15px;
    margin-bottom: 10px;
    position: fixed; 
      bottom: 0; 
      left: 10;
}
.button1:hover{
    background-color:white;
    color: black;
    border-radius: 13px;
}
.endgame {
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: -575px;
    color: white;
    position: absolute;
    text-align: center;
    background-color: rgba(255,0,4,0.56);
    font-size: 10em;
    vertical-align: middle;
    visibility: hidden;
}
.textgew {
    display:inline-block;
    font-family:Helvetica;
    font-weight:bold;
    position: absolute;  
    visibility: hidden;
    z-index: 9999999999;
    font-size: 800%;
    color: white;
    top: 10%;
    left: 38%;
    text-shadow: 0 0 10px black;
}
.textgra {
    display:inline-block;
    font-family:Helvetica;
    font-weight:bold;
    position: absolute;  
    visibility: hidden;
    z-index: 9999999999;
    font-size: 400%;
    color: white;
    top: 40%;
    left: 28%;
    text-shadow: 0 0 10px black;
}
.button3{
    display:inline-block;
    height: 100px;
    width: 200px;
    margin:1px;
    text-decoration:none;
    font-family:Helvetica;
    font-size:40px;
    border-radius:13px;
    background-color:white;
    color:black;
    font-weight:bold;
    padding:18px 15px;
    margin-bottom: 10px;
    position: fixed; 
      bottom: 20%; 
      right: 51%;
    visibility: hidden;
    z-index: 9999999999;
}
.button3:hover{
    background-color:green;
    color: black;
    border-radius: 13px;
}

.button4{
    display:inline-block;
    height: 100px;
    width: 200px;
    margin:1px;
    text-decoration:none;
    font-family:Helvetica;
    font-size:40px;
    border-radius:13px;
    background-color:white;
    color:black;
    font-weight:bold;
    padding:18px 15px;
    margin-bottom: 10px;
    position: fixed; 
      bottom: 20%; 
      left: 51%;
    visibility: hidden;
    z-index: 9999999999;
}
.button4:hover{
    background-color:red;
    color: black;
    border-radius: 13px;
}

/* REST */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
}
  
  #nav a {
    font-weight: bold;
    color: #943e34;
  }
  
  #nav a.router-link-exact-active {
    /*color: #a35152;*/
    color: #943e34;
  }